body {
  background-color: rgb(250, 250, 250);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image {
  width: 370px;
  margin: 40px 0;
}

@media (max-width: 770px) {
  .container {
    margin: 0 10%;
  }
}

@media (max-width: 570px) {
  .image {
    width: 100%;
    margin: 25px 0;
  }
}